[submodule "phoronix-test-suite"]
	path = phoronix-test-suite
	url = git@github.com:phoronix-test-suite/phoronix-test-suite.git
[submodule "Splash-3"]
	path = Splash-3
	url = git@github.com:SakalisC/Splash-3.git
